<!DOCTYPE html>
<html lang="en">
<head>

    <style>

        .Panel {
            background: #c8c3bb;
            width: 100%;
            height: 80px;
        }

        .Content {
            background: red;
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
            float: left;
            height: 300px;
        }

    </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="Panel">

</div>

<div class="SideBar">

</div>

<div class="Content">

</div>

<div class="RightBar">

</div>

</body>
</html>