<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="css/jquery-3.0.0.min.js"></script>
    <script src="css/jquery-migrate-1.4.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Welcome | BO</title>

</head>
<body>
    <div>
        <header></header>
    </div>

    <div align="center">
    <form>
        <p>
            <label>
                Bookmaker Office
            </label>
        </p>
        <p>
            <input type="text" id="nickname" placeholder="username"> <br>
        </p>
        <p>
            <input type="password" id="password" placeholder="password"> <br>
        </p>
        <p>
            <input type="button" value="sign in" id="SingIn" onclick="signIn()">
            <input type="button" style="margin-left: 10px" value="sign up" id="SingUp" onclick="signUp()">
        </p>
    </form>
    </div>

    <script>
        function signIn() {
            let user = {
                nickname: document.getElementById("nickname").value,
                password: document.getElementById("password").value
            };
            $.ajax({
                type: 'post',
                data: user,
                url: '/api/sessions',
                success: (result) => {
                    if (result.message == undefined)
                        alert(result.error);
                    else
                        alert(result.message);
                },
                error: (error) => {
                    alert(error);
                }
            });
        }

        function signUp() {
            window.location.href = 'register.html';
        }
    </script>

</body>
</html>