<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="css/jquery-3.0.0.min.js"></script>
    <script src="css/jquery-migrate-1.4.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Main | BO</title>
</head>
<body>
    <div class="Header" align="center">
        <div class="A">
            <a href="bets.html">Команды</a>
            <a href="bets.html">Матчи</a>
            <a href="bets.html">Ставки</a>
        </div>
        <div class="User">
            <a id="a" onclick="getDropDown()" >

            </a>
        </div>
    </div>
    <script>
        getUsername();
        function getDropDown() {
            document.getElementById("a").text = 'sergei';
        }
        function getUsername() {
            $.ajax({
                type: 'get',
                url: '/api/users/nickname',
                success: (result) => {
                    if (result.message == undefined)
                        if (result.error == 'Not permissions')
                            document.getElementById("a").text = 'guest';
                        else
                            alert(result.error);
                    else {
                        document.getElementById("a").text = result.message;
                    }
                }
            })
        }
    </script>
</body>
</html>