<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="lib/jquery-3.0.0.min.js"></script>
    <script src="lib/jquery-migrate-1.4.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Main | BO</title>
</head>
<body>
    <div class="Header" align="center">
        <div class="A">
            <a href="bets.html">Команды</a>
            <a href="bets.html">Матчи</a>
            <a href="bets.html">Ставки</a>
        </div>
        <div class="User">
            <div class="dropdown pull-right">
                <a id="a" href="#" data-toggle="dropdown" class="dropdown-toggle">
                    guest
                </a>
                <ul id="menu" class="dropdown-menu">
                    <li><a href="#">Баланс</a></li>
                    <li><a href="#"onclick="deleteSession()">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        getUsername();
        function getUsername() {
            $.ajax({
                type: 'get',
                url: '/api/users/nickname',
                success: (result) => {
                    if (result.message == undefined)
                        if (result.error == 'Not permissions')
                            document.getElementById("a").text = 'guest';
                        else
                            alert(result.error);
                    else {
                        document.getElementById("a").text = result.message;
                    }
                }
            })
        }

        function deleteSession() {
            $.ajax({
                type: 'delete',
                url: '/api/sessions',
                success: (result) => {
                    window.location.href = '/';
                }
            })
        }
    </script>
</body>
</html>